.wishlistcontainer{
    display: flex;
    justify-content: center;
    height: 80vh;
}
.productlist {
    width: 70%;
    margin-top: 50px;
    flex-direction: column;
}
.emptyWishlist{
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
    font-size: 20px;
}
.subproductlist{
    overflow-y: auto;
    height: 62vh;
}
.productlist h3{
    font-size: 30px;
    width: 100%;
    height: 10%;
    margin-right: 0px;
    display: flex;
    align-items:end;
    justify-content:baseline;
    border-bottom: 2px solid #096F3E;
}
.product{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #0064004f;
    justify-content: center;
    background-color: rgb(240, 245, 242);
}
.product img{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productDes{
    width: 40%;
    height: 100%;
    padding: 10px;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}
.productDes h2{
    height: 20%;
    font-size: 18px;
    margin: 0px;
}
.productDes h2 span{
    height: 20%;
    color: #0e51318e;
    font-size: 15px;
}
.productDes p{
    height: 60%;

}
.productDes span{
    height: 20%;
    font-weight: bold;
}
.productBtn{
    width: 20%;
    height: 100%;
    // padding: 50px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
}
.productBtn button{
    width: 100%;
    height: 30%;
    padding: 0.5rem;
    margin: 5px;
    border-radius: 30px;
    font-size: 15px;
    border: 2px solid #096F3E;
}
.productBtn button:hover{
    color: #fff;
    background-color: #096F3E;
}

@media only screen and (max-width:1248px){
    .productDes p{
        overflow-y: auto;
    }
} 
@media only screen and (max-width:800px){
    .productlist{
        width: 90%;
    }
    .productlist h3{
        font-size: 25px;
    }
    .productDes h2{
        font-size: 15px;
    }
    .productDes p{
        font-size: 13px;
    }
    .productDes span{
        font-size: 12px;
        font-weight: bold;
    }
    
} 
@media only screen and (max-width:662px){
    .productlist h3{
        font-size: 22px;
    }
    .productDes h2{
        font-size: 12px;
    }
    .productDes p{
        font-size: 11px;
    }
    .productDes span{
        font-size: 10px;
        font-weight: bold;
    }
    
} 
@media only screen and (max-width:486px){
    .productDes h2{
        font-size: 10px;
    }
    .productDes p{
        font-size: 9px;
    }
    .productDes span{
        font-size: 9px;
        font-weight: bold;
    }
    .product1{
        height: 22%;
    }
} 
@media only screen and (max-width:420px){
    .productDes h2{
        font-size: 8px;
    }
    .productDes p{
        font-size: 7px;
    }
    .productDes span{
        font-size: 9px;
        font-weight: bold;
    }
    
    .product1{
        height: 20%;
    }
} 
