.main-card{
    width: min(100%, 1105px);
    height: auto;
    overflow: scroll;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: 3rem;
}