.Overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  opacity: 1;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.Overlay::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .Overlay {
    opacity: 1;
    z-index: 9999;
  }
}

.model-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  overflow: scroll;
  width: 70%;
  margin: 0 0 0 auto;
  animation: slide-left 1s ease-out;
  -ms-overflow-style: none;
}
.model-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .model-container {
    margin: 0 0 0 auto;
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .model-container {
    margin: 0 0 0 auto;
    width: 85%;
  }
}
@media (max-width: 900px) {
  .model-container {
    margin: 0 0 0 auto;
    width: 90%;
  }
}
@media (max-width: 800px) {
  .model-container {
    margin: 0;
    width: 100%;
  }
}
.model-container .navBar {
  width: 90%;
  display: flex;
  margin: 1.5rem 0;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.model-container .navBar .btn-close {
  background: rgb(22, 60, 42);
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 30px;
  border: none;
  font-size: 1.5em;
}
.model-container .navBar .model-title {
  margin: 0;
}
.model-container .model-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .model-container .model-body {
    width: 100%;
    margin: 0 auto;
  }
}
.model-container .model-body .colo-1 {
  border: 1px solid rgba(128, 128, 128, 0.527);
  border-radius: 10px;
}
.model-container .model-body .colo-1 {
  width: 90%;
}
@media (max-width: 900px) {
  .model-container .model-body .colo-1 {
    width: 95%;
    margin: 0 auto;
  }
}
.model-container .model-body .colo-2 {
  width: 60%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-container .model-body .colo-2 .btn-checkout {
  width: 60%;
  margin-left: 0;
}
.model-container .model-body .colo-2 .btn-checkout button {
  margin: 1rem;
  background-color: #163C2A;
}
.model-container .model-body .colo-2 .cleanupcart {
  width: 40%;
  text-align: center;
}
.model-container .model-body .colo-2 .cleanupcart button {
  background-color: rgb(192, 0, 6);
  padding: 0.7rem 1.5rem;
  font-size: 0.85em;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .model-container .model-body .colo-2 {
    width: 95%;
    margin: 0 auto 2rem auto;
  }
}
.model-container .order-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
.model-container .order-body {
  width: 95%;
  margin: 0 auto;
}
.model-container .order-body h4 {
  text-align: center;
  padding: 0.5rem;
}
.model-container .order-body ul {
  margin: 0;
}
.model-container .order-body li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}
.model-container .item-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0px;
  border-bottom: 2px solid rgba(202, 190, 190, 0.3137254902);
}
.model-container .item-Image {
  width: 100%;
}
@media (max-width: 600px) {
  .model-container .item-Image {
    width: 60%;
  }
}
.model-container .item-Image img {
  max-width: 100%;
  max-height: 100%;
}
.model-container .item-body {
  padding: 0.5rem 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.95em;
  line-height: 18px;
  color: #848181;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .model-container .item-body {
    display: none;
  }
}
.model-container .item-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1em;
}
@media (max-width: 800px) {
  .model-container .item-price-small {
    display: inline;
  }
}
.model-container .item-price {
  font-weight: 700;
  font-size: 1em;
}
@media (max-width: 800px) {
  .model-container .item-price {
    display: none;
  }
}
.model-container .InStock {
  color: #08AC0A;
}
.model-container .OutStock {
  color: red;
}
.model-container .item-button {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 1rem;
}
.model-container .updateRemoveBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.model-container .item-quantity {
  background-color: rgb(241, 236, 236);
  font-weight: 700;
  font-size: 0.85em;
  text-align: center;
  padding: 0.2rem 1.1rem;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
}
.model-container .item-button-update {
  padding: 0.3rem 1.5rem;
  background-color: rgb(22, 60, 42);
  font-size: 0.85em;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
.model-container .item-button-delete {
  padding: 0.3rem 1.5rem;
  font-size: 0.85em;
  background-color: rgb(192, 86, 0);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=cartModel.css.map */