
$breakpoint:900px;
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    opacity: 1;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.486);
    scrollbar-width: none;
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
    display: none;
  }
}
.model-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 100%;
    .navBar{
        width: 90%;
        display: flex;
        margin-top: 1.5rem;
        padding: 0.5rem;
        align-items: center;
        justify-content: space-between;
        .btn-close{
            background: rgba(22, 60, 42, 1);
            border-radius: 10px;
            color: white;
            text-align: center;
            width: 30px;
            border: none;
            font-size: 1.5em;
        }
    }
    .cleanupcart{
        width: 20%;
        text-align: right;
        button{
            background-color:rgba(192, 0, 6, 1);
            padding:0.7rem 1.5rem;
            font-size: 0.85em;
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 10px;
        }
        @media (max-width: $breakpoint) {
            margin:0rem auto;
            width: 90%;
          }
    }
   .model-body{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: row;
    margin:2rem auto;
    @media (max-width: $breakpoint) {
        width: 100%;
        margin:0 auto;
      }
    .colo-1, .colo-2{
        border:1px solid rgba(128, 128, 128, 0.527);
        border-radius: 10px;
    }
    .colo-1{
        width:60%;
        @media (max-width: $breakpoint) {
            width: 95%;
            margin:0 auto;
          }
    }
    .colo-2{
        width:30%;
        .btn-checkout{
            width: 100%;
            margin-left: 0;
            border-bottom: 1px solid rgba(128, 128, 128, 0.527);
           button{
            margin:1rem;
            background-color: #163C2A;
           }
        }
        @media (max-width: $breakpoint) {
            width: 95%;
            margin:0 auto;
          }
    }
   }
    .order-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        text-align: center;
        font-size: 1em;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    }
    .order-body{
        width:95%;
        margin: 0 auto;
        h4{
            text-align: center;
            padding: 0.5rem;
        }
        ul{
            margin:0;
        }
        li{
            margin:0;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(128, 128, 128, 0.151);
        }
    }
    .item-cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0px;
        border-bottom: 2px solid #cabebe50;
    }
    .item-Image{
        width: 100%;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .item-body{
        padding: 0.5rem 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.95em;
        line-height: 18px;
        color: #848181;
        display: flex;
        align-items: center;
    }
    .item-price{
        font-weight: 700;
        font-size:1em;
    }
    .InStock{
        color: #08AC0A;
    }
    .OutStock{
        color:red,
    }
    .item-quantity{
        background-color: rgb(241, 236, 236);
        font-weight: 700;
        font-size: 0.85em;
        padding: 0.2rem 1.5rem;
        border: 1px solid rgba(197, 197, 197, 1);
        border-radius: 10px;
    }
    .item-button{
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 3rem;
    }
    .item-button-update{
        padding:0.3rem 1.5rem;
        background-color: rgba(22, 60, 42, 1);
        font-size: 0.85em;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
    }
    .item-button-delete{
        padding:0.3rem 1.5rem;
        font-size: 0.85em;
        background-color:rgb(192, 86, 0);
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
    }
}
.hidden{
    display: none;
}