* {
  font-family: 'poppins';
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex-basis: 25%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  background-color: #F5F6F6;
  text-align: center;
  cursor: pointer;
}

.card img {
  margin-top: 15px;
  margin-left: 40px;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit:fill;
}

.card-description {
  display: flex;
  flex-direction: row;
}

.card-description h1 {
  width: 200px;
  margin-top: 22px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-description {
  font-size: 10px;
  font-weight: lighter;
  color: grey;
  margin-top: -10px;
  margin-left: 22px;
  padding-bottom: 20px;
}

.description {
  margin-top: -20px;
}

.description img {
  margin-top: -50px;
}

.price {
  color: black;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 22px;
}

.not-found {
  text-align: center;
  font-family: Poppins, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #096F3E;
  width: 80%;
  margin: 0 auto 20px auto;
}
.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 10px 20px;
  background-color: #096F3E;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.load-more-button:hover {
  transition: .3s ease;
  background-color: #22784e;
}
