.products-card{
    width: min(100%, 1055px);
    height: 70vh;
    overflow: scroll;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}