.sign-up-form{
    margin: 50px auto;
    width: 90%;
    max-width: 400px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .form-input-group{
        display: flex;
        flex-direction: column;
        gap: 1.5px;

        .form-input{
            background: #FFFFFF;
            border: 0.989903px solid #999999;
            border-radius: 21.8604px;
            padding: 7px;
        }

        .input-label{
            color: #333;
            font-size:14px
        }

        .form-validation{
            font-size: 11px;
            display: block;
            text-align: center;
            
            &--msg{
                color: #163C2A;

            }
            &--success{
                color: #4BB543
            }
            &--error{
                color:red
            }
        }
    }
}