.formContainer h3{
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changePasswordContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 40%;
    height: 60%;
    padding: 20px;
}
.form{
    background-color: white(106, 39, 39);
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.inputField{
    height: 55px;
    width: 100%;
    outline: none;
    font-size: 18px;
    margin: 20px 0px 20px 0px;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}
.inputField:hover{
    border: 2px solid #096F3E;
}
.submitBtn{
    height: 60px;
    width: 100%;
    padding: 7px;
    margin-top: 15px;
    outline: none;
    border-radius: 10px;
    background-color: #096F3E;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: white;
    border: 2px solid #096F3E;
    color: #096F3E
}
.errorDisplay{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.form > div {
    height: 30px;
    width: 70%;
    border-radius: 15px;
    font-size: 15px;
    padding: 0px;
    line-height: normal;
    margin-bottom: 10px;
    color: red;
    background-color: white;
}
@media only screen and (max-width:712px){
    .h3{
        font-size: 22px;
    } 
    .formContainer {
      width: 80%;
      height: 50%;
      margin-top: 100px;
    }
    .form{
        background-color: white;
        height: 75%;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        flex-direction: column;
        justify-content: center;
    }
    .inputField{
        width: 90%;
    }
    .submitBtn{
        width: 90%;
        margin-bottom: 15px;
    }
}
 @media only screen and (max-width:467px){
    h3{
        font-size: 20px;
    } 
    .submitBtn{
        font-size: 18px;
    }
}
@media only screen and (max-width:380px){
    .h3{
        font-size: 18px;
    }
    .submitBtn{
        width: 90%;
        margin-bottom: 15px;
    }
} 
@media only screen and (max-width:300px){
    h3{
        font-size: 16px;
    } 
    .inputField{
        height: 40px;
        width: 80%;
        outline: none;
        margin: 8px;
    }
    .form{
        margin-top: 0px;
    }
    .submitBtn{
        height: 40px;
        width: 80%;
        padding: 7px;
        margin-top: 0px;
        font-size: 15px;
    }
} 