.container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9f6ec;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
