@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

@media (min-width:1440px) {
  body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: 100%;
  height: 500px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9f6ec;
}

.primary-btn{
padding: 12px 15.5769px;
color: #fff;
background: #096F3E;
border-radius: 8px;
cursor: pointer;
outline: none;
border: none;
transition: .2s;
font-size: 14px;
letter-spacing: 2px;
}

.is-set{
  background: #cf001c !important;
}

.primary-btn:hover{
  background-color: white;
  color:#163C2A;
  box-shadow: #163C2A 0px 0px 0px 3px;
}

.primary-btn:disabled{
  opacity: .5;
  cursor: not-allowed;

}

.primary-btn:disabled:hover{
  background: #096F3E;
  color:#fff;
  box-shadow: none;
}


.css-styled {
  color: red;
}

.highlight{
        color: #0a9d58;
    font-size: 26px;
    font-weight: 900;
    }

   .loading-spinner {
    display:block;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #0a9d58;
  width: 120px;
  height: 120px;
  -webkit-animation: spin .8s ease-in-out infinite; /* Safari */
  animation: spin .8s ease-in-out infinite;
  margin:auto
}


.loading-spinner--medium {
  width: 60px;
  height: 60px;
}

.loading-spinner--sm {
  border: 1px solid #f3f3f34d;
  width: 18px;
  height: 18px;
  border-top: 2px solid #fff;
}

.error{
    display: block;
    padding: 20px;
    background-color: #F44336;
    color: white;
    text-align: center;
    border-radius: 7px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
