.login-heading{
    color:#163C2A;
    text-align:center;
    width: fit-content;
    margin: 50px 10px 20px 400px;
}

.login-form{
    margin: 20px 10px 20px 250px;
    width: 90%;
    max-width: 550px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form .form-input-group{
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.login-form .form-input-group .form-input{
    background: #FFFFFF;
    border: 0.989903px solid #999999;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    width:400px;
    transition: .5s;
}

.input-label{
  color: #333;
}
.login-form .form-input-group .input-label{
  color: #333;
    font-size:14px;
}

.primary-btn{
    width: 430px;
    height: 40px;
    background: #096F3E;
    border-radius: 10px;
    color:white;
    border:0;

}
.reset_password {
    font-family: "Poppins";
    font-style: normal;
    font-size:14px;
    line-height: 27px;
    text-decoration: 0;
    color: #096F3E;
  
  }

.sign-up{
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 150px;

  }
.sign-up a{
    color:#096F3E;;
    text-decoration: 0;
    font-size:14px;
  }
.sign-up p{
    margin-right: 10px;
    font-size:14px;
  }
.no-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.error{
  color:red;
}